{{#sessions}}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <h5>{{speaker.name}}</h5>
            </div>
        </div>
    </div>
    <div class="col"><span>{{title}}</span></div>
    <div class="col"><span>{{timeslot}}</span></div>
    <div class="col"><span>{{topic}}</span></div>
</div>
<hr/>
{{/sessions}}